<div class="custom-dropdown">
    <mat-form-field appearance="fill">
        <mat-label *ngIf="!selectedOption">
            <mat-icon>{{iconName}}</mat-icon><span class="labelText"> {{labelDescription}}</span>
        </mat-label>
        <mat-select (selectionChange)="selectedValue()" [(value)]="selectedOption" panelClass="overlayPanelClass">
            <mat-option *ngFor="let item of list" [value]="getValueField(item)">
                {{getDescriptionField(item)}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>