div.custom-dropdown {
    position: relative;
    width: 172px;
    height: 38px;
    left: 32px;
    top: 5px;
}

.mat-icon.material-icons.mat-icon-no-color {
    width: 25px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}