<div class="top-bar">
    <div class="ellipsis1">
        <img src="{{imageSource}}" alt="">
    </div>
    <div class="nav-icon">
        <div class="navbar">
            <div class="shape"></div>
            <div class="bounds"></div>
        </div>

        <div class="back">
            <div class="shape"></div>
            <div class="bounds"></div>
        </div>

        <div class="nav-icon-touch-target"></div>

    </div>

    <div class="app-bar-title-icon">
        <div class="dropdown">
            <div class="shape"></div>
            <div class="bounds"></div>
        </div>
        <h1 class="page-title">
            {{headerText}}
        </h1>

    </div>
</div>