div.parameter-bar {
    position: absolute;
    width: 1440px;
    height: 56px;
    left: 0px;
    top: 56px;
    background: #EFEFF1;
}

div.group3 {
    position: absolute;
    width: 232px;
    height: 38px;
    left: 220px;
    top: 5px;
    opacity: 0.5;
    background: rgba(51, 51, 51, 0.06);
    border-radius: 4px 4px 0px 0px;
    bottom: 88.56%;
}

div.group3 .mat-form-field {
    display: inline;
}

div.calls-dropdown {
    position: relative;
    width: 172px;
    height: 38px;
    left: 220px;
    top: -32px;
    background: rgba(51, 51, 51, 0.06);
    border-radius: 4px 4px 0px 0px;
}

div.calls-dropdown .mat-form-field {
    display: inline;
}

.mat-icon.material-icons.mat-icon-no-color {
    width: 25px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

span.labelText {
    position: relative;
    top: -5px;
}