<div class="parameter-bar">

    <div class="calls-dropdown">
        <mat-form-field appearance="fill">
            <mat-icon aria-hidden="false" aria-label="labelDescription">call</mat-icon>
            <mat-label>Call</mat-label>
            <mat-select (selectionChange)="changeCall()" [(value)]="selectedCall">
                <mat-option *ngFor="let call of calls" [value]="call.call_id">
                    {{call.call_start_time | date:'dd.L.YYYY'}} - {{call.customer[0].full_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <app-custom-dropdown (change)="changeAgent($event)" iconName="supervised_user_circle" labelDescription="Agent" optionValueField="agent_id" [optionDescriptionField]=agentDescriptions [list]=agents></app-custom-dropdown>

    <app-sensitivity-meter (change)="changeSensitivity($event)" rangeLabel="MATCHING SENSITIVITY" [disabled]=false [max]="100" [min]="0" [step]="1" [vertical]=false></app-sensitivity-meter>

</div>