div.range-slider {
    position: absolute;
    top: 10px;
    left: 850px;
    width: 300px;
}

span.range-percentage {
    position: absolute;
    width: 34px;
    height: 20px;
    left: 520px;
    top: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    text-align: right;
    color: rgba(0, 0, 0, 0.87);
}

span.match-sensitivity {
    position: absolute;
    width: 205px;
    height: 20px;
    left: -94px;
    top: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.87);
}

.mat-slider-horizontal {
    height: 48px;
    min-width: 128px;
    left: 110px;
    width: 400px;
}