<div *ngIf="transcriptLoad" [ngClass]="containerClasses()">
    <div class="rectangle4">
        <span class="body1font">
            {{headerLabel}}
        </span>
        <span class="body2font">
            {{percentage}}%
        </span>

        <div class="group4">

        </div>
    </div>

    <div class="frame5">
        <table>
            <thead>
                <tr>
                    <th *ngFor="let column of columns">{{column}}</th>
                </tr>
            </thead>
            <tbody *ngIf="isReal">
                <tr *ngFor="let row of transcriptLoad.transcript">
                    <td>{{getTimeFrom(row["timeFrom"])}}</td>
                    <td>{{getSpeaker(row["channel"])}}</td>
                    <td (mouseover)="setMatchingExpectedSentence(row['matching_sentence'])" (mouseleave)="setMatchingExpectedSentence('')" [ngClass]="sentenceClasses(row['similarity'],row['sentence'])" [matTooltip]="getToolTip(row['similarity'],row['sentence'],row['matching_sentence'])"
                        [matTooltipPosition]="tooltipPosition">{{row["sentence"]}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="!isReal">
                <tr *ngFor="let row of transcriptLoad.script">
                    <td>{{row["order"] + 1}}</td>
                    <td>{{expectedAgentLabel}}</td>
                    <td [ngClass]="sentenceClasses(row['similarity'],row['sentence'])">{{row["sentence"]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>