div.transcript {
    position: absolute;
    width: 676px;
    height: 682px;
    left: 32px;
    top: 144px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

div.transcript.isExpected {
    left: 732px;
}

div.rectangle4 {
    width: 676px;
    height: 40px;
    left: 32px;
    top: 144px;
    background: #EFEFF1;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
}

span.body1font {
    position: absolute;
    width: 148px;
    height: 20px;
    left: 24px;
    top: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.87);
}

span.body2font {
    position: absolute;
    width: 56px;
    height: 20px;
    left: 556px;
    top: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */
    text-align: right;
    /* Black / 87% */
    color: rgba(0, 0, 0, 0.87);
}

div.group4 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 660px;
    top: 152px;
}

div.frame5 table {
    position: absolute;
    width: 650px;
    height: 553px;
    top: 49px;
    display: block;
    overflow-y: scroll;
    border-spacing: 0.7rem;
}

div.frame5 table::-webkit-scrollbar {
    width: 3px;
}

div.frame5 table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #C4C4C4;
    border-radius: 10px;
}

div.frame5 table::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px #C4C4C4;
}

div.frame5 table th {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    padding: 4px 8px;
}

div.frame5 table td,
div.frame5 table th {
    min-width: 40px;
}

hr.tableHr {
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.12);
    border-style: solid;
    width: 610px;
}

div.frame5 table td {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.87);
    padding: 4px 8px;
}

td.isSimilar {
    background: rgba(90, 90, 113, 0.2);
}

td.isSimilarDarker {
    background: rgba(90, 90, 113, 0.4);
}